<!-- https://www.bbc.com/zhongwen/simp/business-68927139 -->

<h2>中国给特斯拉自动驾驶“开绿灯” 股价大涨15%</h2>
<p>4月28日，特斯拉CEO马斯克“意外”访华，前后不到24小时，与中国总理李强会面，得到了汽车数据安全方面的“绿灯”。</p>
<p>这意味着，特斯拉的智能驾驶系统“完全自动驾驶能力”（FSD，Full-Self Driving）将可以在中国落地，而中国是目前全球最大的新能源汽车市场。</p>
<p>三年前，中国方面质疑特斯拉的数据安全，怀疑其存在间谍嫌疑，随后中国官方禁止特斯拉汽车进入政府机构、军事设施周边等。直至此次禁令解除。</p>
<p>周一（29日）特斯拉股价大涨15%，扭转之前财报不及预期的颓势。</p>
<p>李强会见马斯克时表示，特斯拉在中国的发展堪称中美两国经贸合作的成功范例。后者稍晚发文称，很荣幸与李强总理会面，“我们早期在上海时就认识，到现在已经很多年了”。</p>
<p>特斯拉公司一直与北京保持着相当不错的关系，2018年，特斯拉获得了在上海建厂的批准，成为上海最大的外资制造业项目。中国政府还曾为其提供其他外国企业望尘莫及的好处，包括税收优惠、低息贷款，以及允许其独资建厂。</p>
<p>上世纪90年代以来，中国一直禁止外国车企在华设立全资子公司，这让外国公司不得不与中国实体成立对半持股的合资企业，以与中方分享利润、技术和专业知识。</p>
<p>但当时，中美贸易战开打，中国面临严峻的外部挑战以及对其经济命运的担忧，马斯克的公司在这种情况下成为幸运儿，罕见获得绿灯，成为首家在中国独资建厂的西方车企。当时的上海“一把手”，时任上海市委书记的就是李强。</p>
<p>上海咨询公司汽车前瞻（Automotive Foresight）董事总经理张豫表示，特斯拉在中国推广FSD将“给其他电动汽车初创企业带来压力，迫使它们加快研发”。</p>
<p>中国政府在2018年批准特斯拉在上海建厂时，也看到了电动汽车发展的同样动力。当时，官员们希望产生所谓的“鲶鱼效应”——把特斯拉这条大鲶鱼放进鱼缸里，会让其他鱼（中国电动汽车制造商）游得更快。</p>
<p>中国的电动车行业做出了回应。比亚迪是中国电动汽车行业的领头羊，此后推出了一系列各种价位的车型——起价低于1万美元——其中国电动汽车销量从2018年的10.5万多辆激增到去年的150多万辆。</p>
<p>张晓东说，特斯拉在中国发展自动驾驶技术可能会产生同样的影响： “这将是下半场的‘鲶鱼效应’”。</p>
